[package]
name = "i3wsr"
version = "2.0.0"
description = "Change i3-wm workspace names based on its contents"
authors = ["Daniel Berg <mail@roosta.sh>"]
repository =  "https://github.com/roosta/i3wsr"
documentation =  "https://github.com/roosta/i3wsr"
readme = "README.md"
keywords = ["i3-wm", "window-manager", "workspaces", "linux"]
categories = ["command-line-utilities"]
license = "MIT"
exclude = ["TODOs.org*", "/script", "/assets/*", "Vagrantfile"]

[badges]
travis-ci = { repository = "roosta/i3wsr" }

[dependencies]
xcb = "0.9"
exitfailure = "0.5.1"
failure = "0.1.8"
failure_derive = "0.1.8"
lazy_static = "1.4.0"
clap = "2.33.1"
toml = "0.5.6"
serde = { version = "1.0.111", features = ["derive"] }
itertools = "0.9.0"
regex = "1"

[dependencies.i3ipc]
version = "0.10.1"
